
main {
  height: auto;
}
.side-nav {
  animation: nav-filling 1 1s ease-in-out;
  animation-fill-mode: forwards;
}
nav {
  animation: nav-filling 1 1s ease-in-out;
  animation-fill-mode: forwards;
  a {
    animation: color-change 1 1s ease-in-out;
    animation-fill-mode: forwards;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 95%;
}
.nav-wrapper,
.side-nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
nav {
  font-family: 'Bangers', cursive;
   box-shadow: none;
  text-transform: uppercase;
  li a {
    font-size: 2.5em;
  }
  img {
    margin-top: 1.3em;
  }
  .dropdown-content {
    margin-top: 5.45em;
    box-shadow: none;
    a {
      font-size: 30px;
      text-transform: uppercase;
      color: #000;
      text-align: center;
    }
  }
  li a:hover {
    color: #000;
    background-color: #ff0000;
  }
  ul {
    margin-top: auto;
    margin-bottom: auto;
  }
  a:hover {
    color: #ff0000;
  }
}
main {
  height: 600px;
  #moi {
    padding-left: 0;
  }
  p {
    margin-top: 6em;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
    color: #000;
  }
  h3 {

    font-family: 'Bangers', cursive;
    text-transform: uppercase;
    font-size: 2.5em;
  }
}
svg {
  position: relative;
  left: 15em;
  top: -8em;
  width: 50%;
  height: auto;
}
.Capa_1 {
  margin-left: 47%;
}
.bande_noire {
  position: absolute;
  text-align: center;
  div {
    background: #000;
    position: relative;
    z-index: 1;
    h1 {
      color: #fff;
    }
  }
}
.bande_noire:before {
  left: 0;
}
h1 {
  position: relative;
  text-align: center;
}
h1 span {
  background: #fff;
  padding: 10px 115px;
  position: relative;
  top: -0.5em;
  color: #000;
  z-index: 1;
}
h1 {
  height: 1px;
  font-size: 3em;
  text-transform: uppercase;
  color: #000;
}
footer {
  height: auto;
  text-align: center;
  .row {
    margin-top: 2em;
  }
  a {
    color: #000;
  }
}
.contact {
  display: flex;
  flex-direction: column;
}
.side-nav {
  display: flex;
  flex-direction: column;
  right: 0;
  width: 50%;
  padding-top: 2em;
  background-color: #000;
  color: #fff;
  display: none;
  li {
    align-items: center;
  }
  a {
    padding-top: 0.45em;
    font-size: 20px;
    height: 50px;
    text-align: center;
    color: #fff;
    text-transform: lowercase;
  }
    a:hover{
      background-color: #fff;
    }

  .contact {
    color: #fff;
  }
  .lien_side_nav {
    align-items: center;
    height: 75px;
    font-size: 36px;
    font-family: 'Bangers', cursive;
    text-transform: uppercase;
  }
  .lien_side_nav:hover {
    background-color: #fff;
    color: #000;
  }
  .close-button {
    margin-bottom: 2em;
  }
  .close {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.8rem;
    .material-icons {
      font-size: 3em;
    }
  }
  ul {
    margin: 0;
  }
  img {
    margin-top: 0;
  }
}
.logo-mobile {
  margin-top: 4.5em;
}
.logo {
  width: 100%;
  height: auto;
  background-image: url("img/code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
@import 'tablet';
@import 'phone';
@keyframes nav-filling {
  from {
    background-color: #000;
  }
  to {
    background-color: #fff;
  }
}
@keyframes color-change {
  from {
    color: #fff;
  }
  to {
    color: #000;
  }
}
svg {
  #filblanc_1 {
    stroke: #fff;
    stroke-width: 7;
    stroke-dasharray: 1000px;
    stroke-dashoffset: 1000px;
    animation-name: draw;
    animation-duration: 5s;
    animation-fill-mode: forwards; // Stay on the last frame
    animation-iteration-count: 1; // Run only once
    animation-timing-function: linear;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@media (min-width: 992px){
  .side-nav{
    display: flex;
    li{

    }
    a{
      font-size: 2.8em;
      padding: 1em;
      &:hover{
        background-color: #fff;
      }
    }

    .close{
      font-size: 2em;
    }
  }
  h3{
    margin-top: 2.1em;
  }
}
