@media (max-width: 600px){
  .burger{
    margin-top: 1em;
  }
main p{
  font-size: 0.8em;
}
h3{
      margin-top: 5em;
}
.nom{
  margin-bottom: 0;
  font-size: 1em;
}
.side-nav{
  width: 100%;
}
svg{
  position: absolute;
  top: 25em;
  left: 4em;

}
}
