@media (min-width: 601px) and (max-width: 992px){
  main p{
    font-size: 1.2em;
  }
  .nom{
    margin-bottom: 0;
    font-size: 2.6em;
  }
  .side-nav{
    width: 50%;

  }
svg{
  position: absolute;
  top: 10em;
  left: 20em;
}
}
